<!DOCTYPE HTML>
<html ng-app="idle">
  <head>
    <meta charset="UTF-8">
    <title>An Idle Game</title>
    <script src="lib/angular.min.js"></script>
    <script src="js/room.js"></script>
    <script src="js/idle.js"></script>
  </head>
  <body>
    <div ng-controller="IdleController as idle">
      <p>{{idle.room.exercises|floor}} Exercises Solved</p>
      <p>People
      
<ul ng-repeat="person in idle.room.people.who">
  <li>{{person.occupation|occupationText}}
    <form name="occupationSelectForm"
    ng-controller="ChangeOccupationCtrl as selector">
      <select ng-model=selector.occupation class="form-control"
      ng-options="occupation[1] for occupation in idle.room.occupationList"
      title=OccSelect" ng-change="selector.changeOccupation(person)">
        <option value=""> Choose new Occupation </option>
      </select>
    </form>
  </li>
</ul>

      </p>
      <p>Tea Available: {{idle.room.tea|floor}}</p>
      <p>Dirty Cups: {{idle.room.cups|floor}}</p>
    </div>
  </body>
</html>
